img {
    &.preview {
        width: 200px;
        margin: 10px 0 5px 0;
    }
}
.was-validated .is-invalid .custom-file-label {
    border-color: #e3342f !important;
}
.was-validated .is-invalid .custom-file-input:focus ~ .custom-file-label {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
}
#list_pokemon {
    td {
        img {
            width: 40px;
        }
    }
}